body {
  margin: 0 auto;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

.module {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--Collection-1-Desktop-module-font);
  padding: calc(var(--Collection-1-Desktop-module-padding) * 1px);
  background-color: var(--Collection-1-Desktop-module-background);
  max-width: calc(var(--Collection-1-Desktop-module-max-width) * 1px);
  min-width: calc(var(--Collection-1-Desktop-module-min-width) * 1px);
  gap: calc(var(--Collection-1-Desktop-module-spacing-1) * 1px);
}
.module > * {
  width: 50%;
}
@media (min-width: calc(var(--Collection-1-Desktop-module-min-width) * 1px)) {
  /* .module {
    flex-direction: column;
  } */
}

.starterkit-title {
  font-family: var(--Collection-1-Desktop-module-title-font);
  font-size: calc(var(--Collection-1-Desktop-module-title-size) * 1px);
  color: var(--Collection-1-Desktop-module-title-color);
  font-weight: var(--Collection-1-Desktop-font-weight);
  margin-bottom: calc(var(--Collection-1-Desktop-module-spacing-1) * 1px);
}

.starterkit-text {
  font-size: calc(var(--Collection-1-Desktop-module-text-size) * 1px);
  color: var(--Collection-1-Desktop-module-text-color);
}

/* Media query for mobile designs */
@media (max-width: 600px) {
  .module {
    font-family: var(--Collection-1-Mobile-module-font);
    padding: calc(var(--Collection-1-Mobile-module-padding) * 1px);
    background-color: var(--Collection-1-Mobile-module-background);
    max-width: calc(var(--Collection-1-Mobile-module-max-width) * 1px);
    min-width: calc(var(--Collection-1-Mobile-module-min-width) * 1px);
    flex-direction: column;
  }

  .starterkit-title {
    font-family: var(--Collection-1-Mobile-module-title-font);
    font-size: calc(var(--Collection-1-Mobile-module-title-size) * 1px);
    color: var(--Collection-1-Mobile-module-title-color);
    font-weight: var(--Collection-1-Mobile-font-weight);
    margin-bottom: calc(var(--Collection-1-Mobile-module-spacing-1) * 1px);
  }

  .starterkit-text {
    font-size: calc(var(--Collection-1-Mobile-module-text-size) * 1px);
    color: var(--Collection-1-Mobile-module-text-color);
  }
}
